body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(255, 255, 255)
}

.background {
    opacity: 0.06;
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    height: 100%;
}

.center-img{
    text-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  img{
    height: 10rem;
}
  h1{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 2rem;
    color: black;
    font-size:3rem;
    font-family: 'Corinthia', cursive;
}
h3{
    margin: 0;
}

.day,
.hour,
.minute,
.second {
    font-size: 2rem;
    color: red;
    
}

.welcome-week {
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation: pulse 1s ease infinite;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.container-day,
.container-hour,
.container-minute,
.container-second {
    margin-left: 30px;
    text-align: center;

}

.day2,
.hour2,
.minute2,
.second2 {
    font-size: 2rem;
    color: red;
    
}

